*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.wrapper{
  width:"100%;
    height:100%;
    border:1px solid #000000;
}

.hero{
	width: 100%;
	height:100vh ;
	background-image:linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3)) ;
	position: relative;
	padding: 0.5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .logo{
	width: 80px;
	margin-left: -95px;
}
nav ul li{
	display: inline-block;
	margin-left: 75px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 17px;
}

.content{
	text-align:center ;
}

.content h1{
	font-size: 80px;
	color: #fff;
	font-weight: 100;
	transition: 0.5s;
}
.content h1:hover{
	-webkit-text-stroke: 2px #fff;
	color: transparent;
}

.content a {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-size: 20px;
	border: 2px solid #fff;
	padding: 14px 70px;
	border-radius: 50px;
	margin-top: 20px;
}

.back-video{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;

}
@media (min-aspect-ratio:  16/9){
	.back-video{
		width: 100%;
		height: auto;
	}
}


@media (max-aspect-ratio:  16/9){
	.back-video{
		width: auto;
		height: 100%;
	}
}



.gallery{
	margin: 10px 50px;
}

.gallery img{
	width: 230px;
	padding: 5px;
}














<! -- Skills --> 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.skills_section{
    width: 100%;
    height: 100vh;
    padding: 0px 13%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -55px;
}
.skills_head h2 span{
    color: #e74d06;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #454545;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}

.skill_bar .bar .Python{
    width: 85%;
    animation: Python 2s;
}
@keyframes Python {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}



.skill_bar .bar .Java{
    width: 80%;
    animation: Java 2s;
}
@keyframes Java {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}

.skill_bar .bar .CSS & Java Script{
    width: 80%;
    animation: CSS & Java Script 2s;
}
@keyframes CSS & Java Script {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}


.skill_bar .bar .C{
    width: 75%;
    animation: C 2s;
}
@keyframes C  {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}







.row{
  margin-left: 0px;
  margin-right: 0px;
}
.global{
  padding: 50px;
  color: #f0f9ff;
  margin-top: 80px;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.0V_L3gXLAttaW7S3wPXhIgHaEK%26pid%3DApi&f=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9; 
  
}

.global h6{
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.global .social{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  padding-bottom: 0px;
  border-top: 1px solid #eee;
  margin-top: 50px;
}
.global .social a{
  font-size: 22px;
  width: 45px;
  height: 45px;
  line-height: 39px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #05ff05;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
  margin: 10px;
  color: #fff;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.global .social a:hover{
  opacity: 0.9;
  box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
}
.global .copyright{
  text-align: center;
  padding-top: 24px;
  font-weight: 500;
  opacity: 0.8;
  font-size: 16px;
}
@media (max-width: 767px) {

    .global .curve{
      left: 5%;
      height: 70%;
    }
    .global h6{
      margin: 0 auto;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    .social{
      margin: 0 auto;
    }
}

table{
	margin-left: 74px;
}
th,td {
        border: 1px solid black;
        border-collapse: collapse;
    }
